* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
li {
  cursor: pointer;
}

.month {
  width: 100%;
  background: #b2dfdb;
  text-align: center;
  border-radius: 4px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}
